.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}

.tbodyDiv{
    max-height: clamp(10em,200vh,400px);
    overflow: auto;
}
a:link{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

